.accessudemo2020 {
  height: 100vh;
  min-height: 600px;
  min-width: 900px;
  display: flex;
  flex-direction: column;

  & > .controls {
    display: flex;
    height: 120px;
    border-bottom: 1px dotted #333333;
    
    & > .control {
      flex-grow: 1;

      & > .primary {
        margin-top: 20px;
        display: flex;
        justify-content: center;

         & i {
          width: 20px;
         }
         & .toggle {
          margin-left: 10px;
          margin-right: 10px;

          &.effectmode input + .slider {
            background-color: #2196F3;
          }
         }

         button {
           height: 30px;
           color: #2196F3;
           border: 1px solid #2196F3;
           width: 120px;
           font-size: 18px;
           cursor: pointer;
         }
      }
      &:nth-child(1),  &:nth-child(2){
        border-right: 1px solid #333333;
      }
    }
  }
  & > .infoBar, & > .voiceText {
    min-height: 32px;
    font-size: 18px;
    border-bottom: 1px dotted #333333;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

    & > div {
      display: inline-block;
      flex-grow: 1;
      margin-left: 5px;
      margin-right: 5px;
    }

    & > i {
      cursor: pointer;
      display: inline-block;
    }
  }

  & > .voiceText {

  }

  & > .dnd {
    position: relative;
    flex-grow: 1;

    & .trainPanel {
      position: absolute;
      width: 300px;
      min-height: 400px;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;

      & > .trainHeader {
        height: 30px;
      }
      & > .trainVideo {
        height: 200px;
      }
      & > .trainControls {
        flex-grow: 1;
      }
    }
  }

  & dnd-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & dnd-token {
      cursor: pointer;
      width: 200px;
      height: 200px;

      & dnd-target, img {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
      }
    }
  }

  & > .notification {
    align-items: center;
    background: rgba(0,0,0, .6);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0, .6);
    color: #fff;
  }

  & i {
    display: inline-block;
    &.fa-info-circle {
      cursor: pointer;
    }
    
  }
}
